@page
@model IndexModel
@{
    ViewData["Title"] = "数据监控";
}

<div class="text-center">
    <h1 class="display-4">金融数据监控服务</h1>
    <br >
    <p>监控任意金融类产品价格，股票，期货，新股申购，新债申购！</p>
    <p>定时监控，邮件短信通知提醒</p>
    <p>100元一个数据，5年有效，变更数据项10元/次服务费</p>
    <p>把握机会，实现自由！</p>
    <br />
    <p>联系电话 微信 18786833424 </p>
</div>
